<h1>「<%= @mygenre.name %>」の投稿</h1>
<br>
<% @mypost.each do |obj| %>
    <h1 class='top_title'><a href='/mybooks/show/<%=obj.id%>'><%= obj.title %></a></h1>
     <p class='top_memo'><%= obj.content %> </p>
    <hr>
<% end %>

<div class='navigate' style="text-align:center; margin-top:50px">
     <% if @page_num > 0 then %>
         <a href='/mybooks/genre/<%= @mygenre.id %>/<%= @page_num -1 %>'> <<前のページ</a>
     <% end %>
     &emsp;
     &emsp;
     &emsp;
     <span></span>
     <a href='/mybooks/genre/<%= @mygenre.id %>/<%= @page_num + 1 %>'>次のページ>> </a>
 </div>