
<% @mypost.each do |obj| %>
    <h1 class='top_title'><a href='/mybooks/show/<%= obj.id %>'><%= obj.title %></a></h1>
     <p class='top_content' style='font-size:16px'><%= obj.content %> <span class='top_created'> (<%= obj.created_at %>)</span></p>
    <hr>
<% end %>
<div class='navigate' style="text-align:center; margin-top:50px">
     <% if @page_num > 0 then %>
         <a href='/mybooks/<%= @page_num -1 %>'> <<<前のページ</a>
     <% end %>
     &emsp;
     &emsp;
     &emsp;
     <span></span>
     <a href='/mybooks/<%= @page_num + 1 %>'>次のページ>>> </a>
 </div>



 