<h1>ジャンル一覧</h1>
<br>
<table style="font-size:18px">
    <tr>
        <th width=50px> ID </th>
        <th width=150px >ジャンル名</th>
        <th width=300px >メモ</th>
        <th width=50px></th>
        <th width=50px></th>
    </tr>
<% @mygenre.each do |obj| %>
    <tr>
        <th><%= obj.id %></th>
        <td><%= obj.name %></td>
        <td><%= obj.memo %></td>
        <td><a href='/mygenres/<%= obj.id %>'>編集</a></td>
        <td width'=40px'> <a href="javascript:window.delData(<%= (obj.id.to_s + ',' + "'".to_s + obj.name.to_s + "'").html_safe %>);">削除</a></td>
    </tr>
<% end %>
</table>
<br>    
<a href='/mygenres/add' style='font-size:18px'>[ 新規作成 ]</a>



