<h1>新規投稿</h1>
<br>    
<% if @mypost.errors.any? %>
    <ul>
    <% @mypost.errors.full_messages.each do |err| %>
        <li>
            <%= err %>
        </li>
    <% end %>
    </ul>
<% end %>

<table>

<%= form_for(@mypost, url:{controller:'myposts', action:'add'}) do |form| %>
<tr>
   <th>題名</th>
   <td>  <%= form.text_field :title %>  </td>
</tr>
<tr>
   <th>著者名</th>
   <td>  <%= form.text_field :author %>  </td>
</tr>
<tr>
   <th>価格</th>
   <td>  <%= form.number_field :price %>  </td>
</tr>
<tr>
   <th>ジャンルID</th>
   <td>  <%= form.number_field :genre_id %>  </td>
</tr>
<tr>
   <th>内容</th>
   <td>  <%= form.text_area :content, {cols:40, rows:10} %>  </td>
</tr>
<tr>
<tr>
   <th>画像</th>
   <td>  <%= form.file_field :picture %>  </td>
</tr>
<tr>
   <th></th>
   <td>  <%= form.submit '送信' %>  </td>
</tr>
<% end %>

</table>

<b><a href='/myposts'>[ 戻る ]</a></b>

<hr>    

<h3>ジャンル一覧</h3>
<h5 style=color:red>*ジャンルIDはこちらからお選び下さい</h5>

<table>
    <tr>
        <th width=30px>ID</th>
        <th>ジャンル名</th>
    </tr>
<% @mygenre.each do |obj| %>
    <tr>
        <td><%= obj.id %></td>
        <td><%= obj.name %></td>
    </tr>
<% end %>
</table>
