
<h1>本当に以下の内容を削除しますか？</h1>
<br>
<table style="font-size:18px; margin-bottom:10px;">
    <tr>
        <th width=100px>ID</th>
        <td><%= @mypost.id %></td>
    </tr>
    <tr>
        <th>タイトル</th>
        <td><%= @mypost.title %></td>
    </tr>
    <tr>
        <th>著者</th>
        <td><%= @mypost.author %></td>
    </tr>
    <tr>
        <th>価格</th>
        <td><%= @mypost.price %></td>
    </tr>
     <tr>
        <th>内容</th>
        <td><%= @mypost.content %></td>
    </tr>
</table>
<%= form_tag controller:'myposts', action:'delete' do %>
        <%= hidden_field_tag "id", {value: @mypost.id } %>
        <%= submit_tag "削除" %>
 <% end %>
 
<br>

<a href='/myposts' style="font-size:18px">[ 戻る ]</a>
