<h1>投稿一覧</h1>
<br>
<table>
    <tr>
        <th width=50px>ID</th>
        <th width=200px>題名</th>
        <th width=150px>著者</th>
        <th width=50px>価格</th>
        <th width=80px>ジャンルID</th>
        <th width=350px>内容</th>
        <th width=50px></th>
        <th width=50px></th>
    </tr>
<% @mypost.each do |obj| %>
    <tr>
        <th><%= obj.id %></th>
        <th><%= obj.title %></th>
        <th><%= obj.author %></th>
        <th><%= obj.price %></th>
        <th><%= obj.mygenre.name %></th>
        <th><%= obj.content %></th>
        <th><a href='/myposts/<%= obj.id %>'>編集</a></th>
        <th><a href='/myposts/delete/<%= obj.id %>'>削除</a></th>
    </tr>
    
<% end %>
</table>

<a href='/myposts/add' style="font-size:18px">[ 新規投稿 ]</a>
